/************VARIABLES*******/
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;


$color-grey-light-1:#f7f7f7;
$color-dark-grey:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-black:black;
$color-white:#fff;

$color-secondary-light:#ffb990;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;




$default-font-size:1.6rem;